<ion-view view-title="Academics">
  <ion-content>
    <div class="list">

    <h4>Today {{today }}</h4>
  </div>

    <div class="list" >
<div class="row" ng-style="myobj1">
  <div class="col"><h3>Activity</h3></div>
  <div class="col"><h3>Date</h3></div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Practical Training</div>
  <div class="col">30-05-2016 to 09-07-2016</div>
</div>

<div class="row" ng-style="myobj1">
  <div class="col">Semester Commencement</div>
  <div class="col">11-07-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Teaching Phase-1</div>
  <div class="col">11-07-2016 to 06-08-2016</div>
</div>


<div class="row" ng-style="myobj1">
  <div class="col">Registration (IR/RPR)</div>
  <div class="col">12-07-2016 to 23-07-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Viva of Practical Training**</div>
  <div class="col">25-07-2016 to 30-07-2016</div>
</div>



<div class="row" ng-style="myobj1">
  <div class="col">Class Test (No teaching)</div>
  <div class="col">08-08-2016 to 10-08-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Teaching Phase-2</div>
  <div class="col">11-08-2016 to 27-09-2016</div>
</div>




<div class="row" ng-style="myobj1">
  <div class="col">Academic/Attendance Review - 1</div>
  <div class="col">28-09-2016 to 01-10-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Teaching Phase-3</div>
  <div class="col">04-10-2016 to 26-10-2016</div>
</div>



<div class="row" ng-style="myobj1">
  <div class="col">Academic Review-2</div>
  <div class="col">10-10-2016 to 15-10-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Teaching Phase-3</div>
  <div class="col">04-10-2016 to 26-10-2016</div>
</div>


<div class="row" ng-style="myobj1">
  <div class="col">Academic Review-2</div>
  <div class="col">10-10-2016 to 15-10-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Teaching Phase 4</div>
  <div class="col">11-11-2016 to 19-11-2016</div>
</div>


<div class="row" ng-style="myobj1">
  <div class="col">LPW Examination</div>
  <div class="col">21-11-2016 to 26-11-2016</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Semester End</div>
  <div class="col">26-11-2016</div>
</div>


<div class="row" ng-style="myobj1">
  <div class="col">Semester End Examination(SEE)</div>
  <div class="col">01-12-2016 onwards</div>
</div>
<div class="row" ng-style="myobj2">
  <div class="col">Comencement of next semester</div>
  <div class="col">02-01-2017</div>
</div>





</div>



<!--

<ion-list>
           



<div class="card">
 
  <div class="item item-divider row" ng-repeat="event in myevents" ng-style="myobj2" >
   <div class="col">{{event.name}}</div>
    <div class="col">{{event.date}}</div>
  </div>
 


</div>
 
</ion-list>
-->
  </ion-content>
</ion-view>
