<ion-view view-title="Attendance">
  <ion-content>	
<h3> Todays Attendance </h3>

    <div class="list">

<div class="item item-divider">
    
<div class="row">
  <div class="col">Subject</div>
  <div class="col">Batch</div>
  <div class="col">Type</div>
  <div class="col">Time Slot</div>
  <div class="col">Hours</div>
</div>


  </div>




  <div class="item item-divider">
    
<div class="row" ng-click="postattend()">
  <div class="col">IWT</div>
  <div class="col">MCA - 1</div>
  <div class="col">Lecture</div>
  <div class="col">11.15 - 12.15</div>
  <div class="col">1</div>
</div>


  </div>

<div class="item item-divider" >
    
<div class="row" ng-click="postattend2()">
  <div class="col">OS</div>
  <div class="col">MCA - 3</div>
  <div class="col">Lab</div>
  <div class="col">4.15 - 6.15</div>
  <div class="col">2</div>
</div>


  </div>



</div>
  </ion-content>
</ion-view>
