<ion-view view-title="Dashboard">
  <ion-content>
  
    <!--  <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
  -->


  <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/pic.png">
      <h2>Faculty Name</h2>
      <p>Designation , Experience</p>
    </a>
  </div>

<center>
	  <table border="2" >


<tr>
  <td><a href="Notifications.html"><img src="img/notifications.png" id="imag"></a></td>
  <td><img src="img/academic.png" id="imag"></td>
  <td><a href="Attendance.html"><img src="img/attendance.png" id="imag"></a></td>
 

</tr>

<tr>
  <td>Notifications</td>
  <td>Academics</td>
  <td>Attendance</td>
</tr>

<!--THIRD ROW -->

<tr>
  <td><a href="todo.html"><img src="img/todo.png" id="imag"></a></td>
  <td><img src="img/result.png" id="imag"></td>
  <td><img src="img/online.png" id="imag"></td>
 

</tr>

<tr>
  <td>To Do</td>
  <td>Results</td>
  <td>Online</td>
</tr>


<!--THIRD ROW -->

<tr>
  <td><a href="Files.html"><img src="img/file.png" id="imag"></a></td>
  <td><a href="#/app/info"><img src="img/academic.png" id="imag"> </a></td>
  <td><a href="#app/mymenu"><img src="img/result.png" id="imag"></td>
 

</tr>

<tr>
  <td>My Files</td>
  <td>Info</td>
  <td>About</td>
</tr>









    </table>

	  </center> 


  </ion-content>
</ion-view>
