<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Posting Attendance</h1>
   
  </ion-header-bar>
  <ion-content>
   <div class="row">


  <div class="col">

<ion-list>

  <ion-checkbox >1</ion-checkbox>
  <ion-checkbox >2</ion-checkbox>
  <ion-checkbox >3</ion-checkbox>
 <ion-checkbox >4</ion-checkbox>
  <ion-checkbox >5</ion-checkbox>
  <ion-checkbox >6</ion-checkbox>
 <ion-checkbox >7</ion-checkbox>
  <ion-checkbox >8</ion-checkbox>
  <ion-checkbox >9</ion-checkbox>
  <ion-checkbox >10</ion-checkbox>

</ion-list>

</div>



  <div class="col" >
<ion-list>

<ion-checkbox >11</ion-checkbox >
<ion-checkbox >12</ion-checkbox >
<ion-checkbox >13</ion-checkbox >
<ion-checkbox >14</ion-checkbox >
<ion-checkbox >15</ion-checkbox >
<ion-checkbox >16</ion-checkbox >
<ion-checkbox >17</ion-checkbox >
<ion-checkbox >18</ion-checkbox >
<ion-checkbox >19</ion-checkbox >
<ion-checkbox >20</ion-checkbox >
</ion-list>

  </div>

  <div class="col" >
<ion-list>
<ion-checkbox >21</ion-checkbox >
<ion-checkbox >22</ion-checkbox >
<ion-checkbox >23</ion-checkbox >
<ion-checkbox >24</ion-checkbox >
<ion-checkbox >25</ion-checkbox >
<ion-checkbox >26</ion-checkbox >
<ion-checkbox >27</ion-checkbox >
<ion-checkbox >28</ion-checkbox >
<ion-checkbox >29</ion-checkbox >
<ion-checkbox >30</ion-checkbox >
</ion-list>

  </div>

  <div class="col" >
<ion-list>
<ion-checkbox >31</ion-checkbox >
<ion-checkbox >32</ion-checkbox >
<ion-checkbox >33</ion-checkbox >
<ion-checkbox >34</ion-checkbox >
<ion-checkbox >35</ion-checkbox >
<ion-checkbox >36</ion-checkbox >
<ion-checkbox >37</ion-checkbox >
<ion-checkbox >38</ion-checkbox >
<ion-checkbox >39</ion-checkbox >
<ion-checkbox >40</ion-checkbox >


</ion-list>

  </div>

  <div class="col" >
<ion-list>
<ion-checkbox >41</ion-checkbox >
<ion-checkbox >42</ion-checkbox >
<ion-checkbox >43</ion-checkbox >
<ion-checkbox >44</ion-checkbox >
<ion-checkbox >45</ion-checkbox >
<ion-checkbox >46</ion-checkbox >
<ion-checkbox >47</ion-checkbox >
<ion-checkbox >48</ion-checkbox >
<ion-checkbox >49</ion-checkbox >
<ion-checkbox >50</ion-checkbox >

</ion-list>

  </div>

  <div class="col" >
<ion-list>
<ion-checkbox >51</ion-checkbox >
<ion-checkbox >52</ion-checkbox >
<ion-checkbox >53</ion-checkbox >
<ion-checkbox >54</ion-checkbox >
<ion-checkbox >55</ion-checkbox >
<ion-checkbox >56</ion-checkbox >
<ion-checkbox >57</ion-checkbox >
<ion-checkbox >58</ion-checkbox >
<ion-checkbox >59</ion-checkbox >
<ion-checkbox >60</ion-checkbox >
</ion-list>

  </div>















</div>

<button class="button button-positive" ng-click="attendsuccess()">Post Attendance</button>
<button class="button button-positive" ng-click="attendsuccess()">Show Absent</button>

  </ion-content>


</ion-modal-view>
